[submodule "backend"]
	path = backend
	url = git@github.com:intotheStellar/mianshier-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/intotheStellar/mianshier-frontend.git
